html{
    overflow: hidden;
}
.titulo{
    position: sticky;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    color: rgb(232, 187, 125);
    margin-left: 20px;
    margin-top: 10px;
}
body{
    display: grid;
    min-height: 100vh;
    font-family:'Playfair Display';
    background-image: url('img/Fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment:scroll;
    background-color: white;
    color: rgb(255, 255, 255);
    
}

.parrafo{
    max-width: 450px;
    text-shadow: 3px 3px 5px black;   
}
img{
    box-shadow: 1px 1px 20px rgb(255, 222, 182);
    border-color: rgb(255, 222, 182);
    border-style:ridge;
    border-radius: 55%;
    width: 370px;
}
img:hover {
    box-shadow: 10px 10px 200px rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}
.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
h4{
    border-radius: 7px;
    background-color: rgba(62, 37, 15, 0.611);
    color: rgb(232, 187, 125);
    padding: 15px;
}
a{
    color: rgb(167, 189, 209);
}

@media (max-width: 500px) {
      
}